<p id="notice"><%= notice %></p>
<%= render "partials/flash" %>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= form_with(url: "/basket/add_item/#{@item.id}", method: 'get', local: true) do |f| %>
  <%= f.label(:quantity, 'Quantity') %>
  <%= f.number_field(:quantity, id: :quantity) %>
  <%= f.submit('Add to card') %>
<% end %>

<% if admin? %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>
