<!DOCTYPE html>
<html>
  <head>
    <title>RailsShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      DEBUG: <%= current_user.order.order_descriptions.count %> <%= current_user.order.items.count %>
      <%= link_to 'Profile',  edit_user_registration_path %> |
      <%= link_to 'Basket', basket_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
