<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rails Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
    <div class="container">
    <% if notice %>
      <p class="notification is-primary"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notification is-danger  has-text-centered"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <header>
        <nav class="navbar">
          <div class="navbar-brand">
            <%= link_to "Home", root_path, class: "navbar-item" %>
            <%= link_to 'Profile',  edit_user_registration_path, class: "navbar-item" %>
            <%= link_to 'Basket', basket_path, class: "navbar-item" %>
            <%= link_to 'Orders', orders_path, class: "navbar-item" %>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "navbar-item" %>
          </div>
        </nav>
      </header>
    <% end %>
    <%= yield %>
    </div>
    </section>
  </body>
</html>
